---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'ホームページです！';
---

<BaseLayout pageTitle="ここはホームページ">
  <p>ここにかいていくよ～～！</p>
  <h2>私の素晴らしいブログサイトです！</h2>
  <p>ここにまでしか書けないよ～～！</p>
</BaseLayout>